USE [master]
GO
/****** Object:  Database [SistemaCotizacionAPFDB]    Script Date: 14/04/2026 14:14:42 ******/
CREATE DATABASE [SistemaCotizacionAPFDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaCotizacionAPFDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SistemaCotizacionAPFDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaCotizacionAPFDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SistemaCotizacionAPFDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaCotizacionAPFDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaCotizacionAPFDB]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](30) NOT NULL,
	[NombreCompleto] [varchar](150) NOT NULL,
	[Telefono] [varchar](30) NOT NULL,
	[Correo] [varchar](120) NOT NULL,
	[TipoCliente] [varchar](30) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosAPF]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosAPF](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProducto] [varchar](10) NOT NULL,
	[NombreProducto] [varchar](100) NOT NULL,
	[Moneda] [varchar](10) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cotizaciones]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizaciones](
	[IdCotizacion] [int] IDENTITY(1,1) NOT NULL,
	[NumeroCotizacion] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[PlazoMeses] [int] NOT NULL,
	[TasaAnual] [decimal](8, 4) NOT NULL,
	[ImpuestoPorcentaje] [decimal](5, 2) NOT NULL,
	[InteresBruto] [decimal](18, 2) NOT NULL,
	[ImpuestoMonto] [decimal](18, 2) NOT NULL,
	[InteresNeto] [decimal](18, 2) NOT NULL,
	[FechaCotizacion] [datetime] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CotizacionesResumen]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
   ============================================================
   VISTAS
   ============================================================
*/

CREATE VIEW [dbo].[vw_CotizacionesResumen]
AS
SELECT
    c.NumeroCotizacion,
    cl.NombreCompleto AS Cliente,
    p.NombreProducto,
    p.Moneda,
    c.Monto,
    c.PlazoMeses,
    c.TasaAnual,
    c.InteresNeto,
    c.FechaCotizacion
FROM Cotizaciones c
INNER JOIN Clientes cl ON c.IdCliente = cl.IdCliente
INNER JOIN ProductosAPF p ON c.IdProducto = p.IdProducto;
GO
/****** Object:  Table [dbo].[TasasProducto]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TasasProducto](
	[IdTasa] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[PlazoMeses] [int] NOT NULL,
	[TasaAnual] [decimal](8, 4) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTasa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TasasProductos]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_TasasProductos]
AS
SELECT
    p.CodigoProducto,
    p.NombreProducto,
    p.Moneda,
    t.PlazoMeses,
    t.TasaAnual
FROM TasasProducto t
INNER JOIN ProductosAPF p ON t.IdProducto = p.IdProducto
WHERE t.Estado = 1;
GO
/****** Object:  Table [dbo].[BitacoraSistema]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraSistema](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Accion] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCotizacion]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCotizacion](
	[IdDetalleCotizacion] [int] IDENTITY(1,1) NOT NULL,
	[IdCotizacion] [int] NOT NULL,
	[NumeroMes] [int] NOT NULL,
	[MontoBase] [decimal](18, 2) NOT NULL,
	[InteresBrutoMes] [decimal](18, 2) NOT NULL,
	[ImpuestoMes] [decimal](18, 2) NOT NULL,
	[InteresNetoMes] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](150) NOT NULL,
	[Correo] [varchar](120) NOT NULL,
	[Contrasena] [varchar](100) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[IdCliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraSistema] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT ((13.00)) FOR [ImpuestoPorcentaje]
GO
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT (getdate()) FOR [FechaCotizacion]
GO
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT ('ACTIVA') FOR [Estado]
GO
ALTER TABLE [dbo].[ProductosAPF] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[TasasProducto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[BitacoraSistema]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraSistema_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[BitacoraSistema] CHECK CONSTRAINT [FK_BitacoraSistema_Usuarios]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_Cotizaciones_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [FK_Cotizaciones_Clientes]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_Cotizaciones_ProductosAPF] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[ProductosAPF] ([IdProducto])
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [FK_Cotizaciones_ProductosAPF]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_Cotizaciones_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [FK_Cotizaciones_Usuarios]
GO
ALTER TABLE [dbo].[DetalleCotizacion]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCotizacion_Cotizaciones] FOREIGN KEY([IdCotizacion])
REFERENCES [dbo].[Cotizaciones] ([IdCotizacion])
GO
ALTER TABLE [dbo].[DetalleCotizacion] CHECK CONSTRAINT [FK_DetalleCotizacion_Cotizaciones]
GO
ALTER TABLE [dbo].[TasasProducto]  WITH CHECK ADD  CONSTRAINT [FK_TasasProducto_ProductosAPF] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[ProductosAPF] ([IdProducto])
GO
ALTER TABLE [dbo].[TasasProducto] CHECK CONSTRAINT [FK_TasasProducto_ProductosAPF]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Clientes]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [CHK_Clientes_TipoCliente] CHECK  (([TipoCliente]='JURIDICO' OR [TipoCliente]='FISICO'))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [CHK_Clientes_TipoCliente]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [CHK_Cotizaciones_Monto] CHECK  (([Monto]>(0)))
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [CHK_Cotizaciones_Monto]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [CHK_Cotizaciones_PlazoMeses] CHECK  (([PlazoMeses]>(0)))
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [CHK_Cotizaciones_PlazoMeses]
GO
ALTER TABLE [dbo].[ProductosAPF]  WITH CHECK ADD  CONSTRAINT [CHK_ProductosAPF_Moneda] CHECK  (([Moneda]='USD' OR [Moneda]='CRC'))
GO
ALTER TABLE [dbo].[ProductosAPF] CHECK CONSTRAINT [CHK_ProductosAPF_Moneda]
GO
ALTER TABLE [dbo].[TasasProducto]  WITH CHECK ADD  CONSTRAINT [CHK_TasasProducto_Plazo] CHECK  (([PlazoMeses]>(0)))
GO
ALTER TABLE [dbo].[TasasProducto] CHECK CONSTRAINT [CHK_TasasProducto_Plazo]
GO
ALTER TABLE [dbo].[TasasProducto]  WITH CHECK ADD  CONSTRAINT [CHK_TasasProducto_Tasa] CHECK  (([TasaAnual]>(0)))
GO
ALTER TABLE [dbo].[TasasProducto] CHECK CONSTRAINT [CHK_TasasProducto_Tasa]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertarCliente]
    @Identificacion VARCHAR(30),
    @NombreCompleto VARCHAR(150),
    @Telefono VARCHAR(30),
    @Correo VARCHAR(120),
    @TipoCliente VARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Clientes
    (
        Identificacion,
        NombreCompleto,
        Telefono,
        Correo,
        TipoCliente
    )
    VALUES
    (
        @Identificacion,
        @NombreCompleto,
        @Telefono,
        @Correo,
        @TipoCliente
    );

    SELECT SCOPE_IDENTITY() AS IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCotizacion]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertarCotizacion]
    @NumeroCotizacion INT,
    @IdCliente INT,
    @IdProducto INT,
    @IdUsuario INT,
    @Monto DECIMAL(18,2),
    @PlazoMeses INT,
    @TasaAnual DECIMAL(8,4),
    @ImpuestoPorcentaje DECIMAL(5,2),
    @InteresBruto DECIMAL(18,2),
    @ImpuestoMonto DECIMAL(18,2),
    @InteresNeto DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Cotizaciones
    (
        NumeroCotizacion,
        IdCliente,
        IdProducto,
        IdUsuario,
        Monto,
        PlazoMeses,
        TasaAnual,
        ImpuestoPorcentaje,
        InteresBruto,
        ImpuestoMonto,
        InteresNeto
    )
    VALUES
    (
        @NumeroCotizacion,
        @IdCliente,
        @IdProducto,
        @IdUsuario,
        @Monto,
        @PlazoMeses,
        @TasaAnual,
        @ImpuestoPorcentaje,
        @InteresBruto,
        @ImpuestoMonto,
        @InteresNeto
    );

    SELECT SCOPE_IDENTITY() AS IdCotizacion;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarDetalleCotizacion]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertarDetalleCotizacion]
    @IdCotizacion INT,
    @NumeroMes INT,
    @MontoBase DECIMAL(18,2),
    @InteresBrutoMes DECIMAL(18,2),
    @ImpuestoMes DECIMAL(18,2),
    @InteresNetoMes DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO DetalleCotizacion
    (
        IdCotizacion,
        NumeroMes,
        MontoBase,
        InteresBrutoMes,
        ImpuestoMes,
        InteresNetoMes
    )
    VALUES
    (
        @IdCotizacion,
        @NumeroMes,
        @MontoBase,
        @InteresBrutoMes,
        @ImpuestoMes,
        @InteresNetoMes
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCotizaciones]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarCotizaciones]
  @IdUsuario INT,
  @NombreRol VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.IdCotizacion,
        c.NumeroCotizacion,
        cl.Identificacion,
        cl.NombreCompleto AS Cliente,
        u.Correo AS Correo,
        p.NombreProducto,
        p.Moneda,
        c.Monto,
        c.PlazoMeses,
        c.TasaAnual,
        c.ImpuestoPorcentaje,
        c.InteresBruto,
        c.ImpuestoMonto,
        c.InteresNeto,
        c.FechaCotizacion,
        u.NombreCompleto AS UsuarioRegistro
    FROM Cotizaciones c
    INNER JOIN Clientes cl ON c.IdCliente = cl.IdCliente
    INNER JOIN ProductosAPF p ON c.IdProducto = p.IdProducto
    INNER JOIN Usuarios u ON c.IdUsuario = u.IdUsuario

        WHERE 
        (@NombreRol = 'ADMINISTRADOR')

        OR
       
        (@NombreRol = 'USUARIO' AND c.IdUsuario = @IdUsuario)


    ORDER BY c.IdCotizacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductos]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarProductos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdProducto,
        CodigoProducto,
        NombreProducto,
        Moneda,
        Descripcion
    FROM ProductosAPF
    WHERE Estado = 1
    ORDER BY NombreProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsuario]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
   ============================================================
   PROCEDIMIENTOS DE ALMACENAMIENTO
   ============================================================
*/
CREATE PROCEDURE [dbo].[sp_LoginUsuario]
    @Correo VARCHAR(120),
    @Contrasena VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.IdUsuario,
        u.NombreCompleto,
        u.Correo,
        u.IdCliente,
        r.NombreRol
    FROM Usuarios u
    INNER JOIN Roles r ON u.IdRol = r.IdRol
    WHERE u.Correo = @Correo
      AND u.Contrasena = @Contrasena
      AND u.Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerCotizacionPorId]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerCotizacionPorId]
    @IdCotizacion INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.NumeroCotizacion,
        cl.NombreCompleto AS Cliente,
        cl.Identificacion,
        u.Correo,
        p.NombreProducto,
        p.Moneda,
        c.Monto,
        c.PlazoMeses,
        c.TasaAnual,
        c.InteresBruto,
        c.ImpuestoMonto,
        c.InteresNeto,
        c.FechaCotizacion
    FROM Cotizaciones c
    INNER JOIN Clientes cl ON c.IdCliente = cl.IdCliente
    INNER JOIN ProductosAPF p ON c.IdProducto = p.IdProducto
    INNER JOIN Usuarios u ON c.IdUsuario = u.IdUsuario
    WHERE c.IdCotizacion = @IdCotizacion;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTasaProducto]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObtenerTasaProducto]
    @IdProducto INT,
    @PlazoMeses INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdTasa,
        IdProducto,
        PlazoMeses,
        TasaAnual
    FROM TasasProducto
    WHERE IdProducto = @IdProducto
      AND PlazoMeses = @PlazoMeses
      AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteCotizaciones]    Script Date: 14/04/2026 14:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteCotizaciones]
    @IdUsuario INT,
    @NombreRol VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.NumeroCotizacion,
        cl.Identificacion,
        cl.NombreCompleto AS Cliente,
        u.Correo,
        p.NombreProducto,
        p.Moneda,
        c.Monto,
        c.PlazoMeses,
        c.TasaAnual,
        c.InteresBruto,
        c.ImpuestoMonto,
        c.InteresNeto,
        c.FechaCotizacion,
        u.NombreCompleto AS UsuarioRegistro
    FROM Cotizaciones c
    INNER JOIN Clientes cl ON c.IdCliente = cl.IdCliente
    INNER JOIN ProductosAPF p ON c.IdProducto = p.IdProducto
    INNER JOIN Usuarios u ON c.IdUsuario = u.IdUsuario
    WHERE 
        (@NombreRol = 'ADMINISTRADOR')
        OR
        (@NombreRol = 'USUARIO' AND c.IdUsuario = @IdUsuario)
    ORDER BY c.IdCotizacion DESC;
END;
GO
USE [master]
GO
